<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="./home.css">
        <title>Welcom</title>
    </head>
</html>
<body>
    <div class="gobal-wrapper">
        <div class = "log-out">
            <a href="./SignIn.html">
                <button>Đăng xuất</button>
            </a>
        </div>
        <div class ="div-form">
            <form class="form" action="">
                <input type="text" placeholder="Nhập vào tên sách">
                <button>Search</button>
                <table>
                    <caption></caption>
                    <tr>
                        <th id="">ID</th>
                        <th id="">Name</th>
                        <th id="">Publisher</th>
                        <th id="">Price</th>
                    </tr>
                </table>
            </form> 
        </div>  
    </div>
</body>